html {
  /* for those who set scroll to be always visible */
  width: 100%;
}

body {
  /* 
  use with big raster images
  formula: img width * column count
  */
  /* min-width: 750px; */
}

.App {
  text-align: center;
}

/* Bootstrap-like */
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}

.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-container {
  display: flex;
  flex-wrap: wrap;

  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

.img {
  pointer-events: none;
  flex-grow: 1;
  /* 100% / images per row */
  min-height: 20vw;
}

.debug-placeholder {
  position: fixed;
  bottom: 0;
  right: 0;
}

.session-info {
  padding: 10px;
  background: #8080803d;
  border-radius: 10px 0px 0px 0px;
}
